.card {
  width: 500px;
  height: 400px;
  position: relative;
  z-index: 2;
  top: 15%;
  left: 45%;
  transform: translate(-10px, -55px);
  display: flex;
  align-items: center;
  border: none;
  justify-content: center;
  border-radius: 15px;
  box-shadow: rgba(51, 51, 51, 0.32) 0px 5px 22px;
}

input[type=number] {
  width: 150px;
  text-align: center;
  margin-left: 5px;
  background-color: rgb(192, 221, 204);

}

input[type=date] {
  width: 330px;
  margin-top: 5px;
  text-align: center;
  background-color: rgb(170, 197, 179);
}